body{
    background-color: #F2EAE4;
    font-family: 'Sylfaen', 'Verdana', sans-serif;
    }
    img {
    display: block;
      max-width: 100%;
    }
    .image {
      max-width: 100%;
      height: auto;
        width: 55%;
    justify-self: center;
      border: 4px solid #D2B48C;
    }
    img-div {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    }
    h1 {
      font-size: 43px;
      text-align: center;
    }
    h4, p {
      font-size: 20px;
      text-align: center;
    }
    figure{
      text-align: center;
    }
    blockquote {
      text-align: right;
    }
